@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";


/* src/app/globals.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

h1 {
  color: #ff6600;
  text-align: center;
}
